<% layout('layout') %>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="<%=product.image%>" alt="">
    </div>

    <div class="col-md-4">

    </div>

    <div class="col-md-4">
      <h3><%=product.name %></h3>
      <h1>$<%=product.price %></h1>

      <form method="post">
        <div class="btn-group" role='group' aria-label='...'>
          <input type="hidden" name="quantity" id='quantity' value='1'></input>
          <button type="button" id='minus' class='btn btn-default'>-</button>
          <button type="button" id='total' class='btn btn-default'>1</button>
          <button type="button" id='plus' class='btn btn-default'>+</button>
        </div>

        <div class="form-group">
          <%/* hidden inputs so can pass original price into database*/ %>
          <input type="hidden" name="product_id" id='quantityHidden' value='<%=product._id%>'></input>
          <input type="hidden" name="priceHidden" id='priceHidden' value='<%=product.price%>'></input>

          <%/* these inputs reflect the total price based on quantity demanded. e.g. if user adds 3x computer, price in priceValue input, and in cart, will reflect 3x computerPrice*/ %>
          <input type='text' name='item' class='form-control' value='<%=product.name%>'></input>
          <input type='text' name='priceValue' id='priceValue' class='form-control' value='<%=product.price%>'></input>
        </div>

        <% if(user) { %>
          <button type='submit' class='btn btn-primary btn-lg'>Add to the Cart</button>
          <% } else { %>
            <a href='/signup' class='btn btn-warning btn-lg'>Sign Up or Login to Begin Buying</a>
          <% } %>
      </form>
    </div>

  </div>
</div>
